In [2]:
from pyarrow.parquet import ParquetFile
import pandas as pd
import numpy as np

In [3]:
multiome_df = pd.DataFrame()
batch_num = 10

multiome_file = ParquetFile("../../data/multiome_train.parquet")
batch_group_size = multiome_file.metadata.num_rows // batch_num
for batch in multiome_file.iter_batches(batch_size=batch_group_size):
    multiome_batch = batch.to_pandas()
    multiome_df = pd.concat([multiome_df, multiome_batch], axis=0, ignore_index=True)

In [4]:
atac = multiome_df.loc[258406:]
atac

,obs_id,location,count,normalized_count
258406,004dd1a01106608a,chr10:100006075-100006963,2,2.479890
258407,004dd1a01106608a,chr10:100229082-100229931,1,0.824665
258408,004dd1a01106608a,chr10:100286187-100287039,2,0.984346
258409,004dd1a01106608a,chr10:100339340-100339978,2,3.327292
258410,004dd1a01106608a,chr10:101066169-101066970,4,3.590057
...,...,...,...,...
216251363,ffffeba9dbf2bab1,chrY:19499847-19500746,1,3.342186
216251364,ffffeba9dbf2bab1,chrY:19566990-19567754,1,1.154666
216251365,ffffeba9dbf2bab1,chrY:20735890-20736626,3,7.049924
216251366,ffffeba9dbf2bab1,chrY:21260054-21260842,2,3.967924
216251367,ffffeba9dbf2bab1,chrY:7273431-7274301,2,1.250685

In [5]:
def get_chr(all_str):
    index = all_str.find(":") 
    return all_str[:index] 


atac["chromosome"] = atac["location"].apply(get_chr)

C:\Users\yayag\AppData\Local\Temp\ipykernel_19276\820159844.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atac["chromosome"] = atac["location"].apply(get_chr)

In [6]:
def get_start(all_str):
    return all_str[all_str.find(":")+1:all_str.find("-")] 


atac["start"] = atac["location"].apply(get_start)

C:\Users\yayag\AppData\Local\Temp\ipykernel_19276\2006402745.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atac["start"] = atac["location"].apply(get_start)

In [14]:
def get_end(all_str):
    return all_str[all_str.find("-")+1:] 


atac["end"] = atac["location"].apply(get_end)

In [9]:
atac

,obs_id,location,count,normalized_count,chromosome,start
258406,004dd1a01106608a,chr10:100006075-100006963,2,2.479890,chr10,100006075
258407,004dd1a01106608a,chr10:100229082-100229931,1,0.824665,chr10,100229082
258408,004dd1a01106608a,chr10:100286187-100287039,2,0.984346,chr10,100286187
258409,004dd1a01106608a,chr10:100339340-100339978,2,3.327292,chr10,100339340
258410,004dd1a01106608a,chr10:101066169-101066970,4,3.590057,chr10,101066169
...,...,...,...,...,...,...
216251363,ffffeba9dbf2bab1,chrY:19499847-19500746,1,3.342186,chrY,19499847
216251364,ffffeba9dbf2bab1,chrY:19566990-19567754,1,1.154666,chrY,19566990
216251365,ffffeba9dbf2bab1,chrY:20735890-20736626,3,7.049924,chrY,20735890
216251366,ffffeba9dbf2bab1,chrY:21260054-21260842,2,3.967924,chrY,21260054
216251367,ffffeba9dbf2bab1,chrY:7273431-7274301,2,1.250685,chrY,7273431

In [13]:
"-100006963"["-100006963".find("-")+1:]

'100006963'