In [1]:
import sys
sys.path.append("..")
from data_utils import stratified_split
from model import BasicModel
from data_utils import SCPDataSet
from data_utils import Mol2Morgan, Smiles2Mol

In [7]:
from pyarrow.parquet import ParquetFile
import pyarrow as pa
p = ParquetFile("../data/multiome_train.parquet")
d = next(p.iter_batches(batch_size=400))
df = pa.Table.from_batches([d]).to_pandas()

In [16]:
df = p.read_row_group(0).to_pandas()

In [17]:
df

                  obs_id                location  count  normalized_count
0       000225c1151ab841                    AAMP      1          6.320659
1       000225c1151ab841                    AASS      1          6.320659
2       000225c1151ab841                  ABCC11      1          6.320659
3       000225c1151ab841                   ABCC2      1          6.320659
4       000225c1151ab841                     ABR      1          6.320659
...                  ...                     ...    ...               ...
262435  004dd1a01106608a  chr2:98086619-98087488      1          1.368647
262436  004dd1a01106608a  chr2:98123065-98123977      2          3.850737
262437  004dd1a01106608a  chr2:98133945-98134842      2          2.485138
262438  004dd1a01106608a  chr2:98463665-98464464      3          2.169419
262439  004dd1a01106608a  chr2:98464761-98465415      2          1.677269

[262440 rows x 4 columns]

In [7]:
a = df2.loc[1]
a.compute()

             obs_id location  count  normalized_count
1  000225c1151ab841     AASS      1          6.320659

In [2]:
import dask.dataframe as dd
df2 = dd.read_parquet("../data/multiome_train.parquet", split_row_groups=40)

In [6]:
d = df2.get_partition(0)
df2.set_index("obs_id")

In [4]:
dataset = SCPDataSet(root_dir="../data")

Expression columns not given, looking for file...
No file found for expression columns, dropping default meta columns...

In [5]:
df = dataset.diff_exps_df
df2 = dataset.multiome_df

In [16]:
import pandas as pd
df2_meta = pd.read_csv("../data/multiome_obs_meta.csv")
df2_meta[df2_meta["cell_type"]=="NK cells"]

                 obs_id cell_type donor_id
4      0011b7473923d7b5  NK cells  donor_2
9      002af4469acf42bd  NK cells  donor_1
12     002de66886504eef  NK cells  donor_2
25     0048c94907db1582  NK cells  donor_0
27     004c82b12a97881a  NK cells  donor_2
...                 ...       ...      ...
25526  ffd2ab84772353a4  NK cells  donor_0
25530  ffd7c2b718c61cce  NK cells  donor_2
25535  ffe09fda062347d5  NK cells  donor_0
25545  ffef6f4ac653dc73  NK cells  donor_2
25549  fffa92f71d2440de  NK cells  donor_1

[4497 rows x 3 columns]

In [20]:
s = pd.read_csv("../data/multiome_var_meta.csv")
s

,location,gene_id,feature_type,genome,interval
0,A1BG,ENSG00000121410,Gene Expression,GRCh38,chr19:58353491-58353492
1,A1BG-AS1,ENSG00000268895,Gene Expression,GRCh38,chr19:58347750-58351970
2,A2M,ENSG00000175899,Gene Expression,GRCh38,chr12:9116156-9116157
3,A2M-AS1,ENSG00000245105,Gene Expression,GRCh38,chr12:9065162-9065177
4,A2ML1,ENSG00000166535,Gene Expression,GRCh38,chr12:8822620-8845004
...,...,...,...,...,...
158200,chrY:7765105-7765991,chrY:7765105-7765991,Peaks,GRCh38,chrY:7765105-7765991
158201,chrY:7814158-7815060,chrY:7814158-7815060,Peaks,GRCh38,chrY:7814158-7815060
158202,chrY:7818681-7819599,chrY:7818681-7819599,Peaks,GRCh38,chrY:7818681-7819599
158203,chrY:8535565-8536421,chrY:8535565-8536421,Peaks,GRCh38,chrY:8535565-8536421
158204,chrY:8537529-8538370,chrY:8537529-8538370,Peaks,GRCh38,chrY:8537529-8538370